body {
    background-color: black;
    color: white;
}

#searchBar {
    display: flex;
    line-height: 12px;
    width: 18px;
    font-size: 8pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 2px;
    /* position:absolute; */ 
    top:0;
    right:0;
}


.box {
    background-color:Chartreuse;
    width:31%;
    display:inline-block;
    margin:11px 0;
    border-radius:6px;
}


.text {
    padding:11px 0;
    color:rgb(7, 7, 7);
    font-weight:bold;
    text-align:center;
}
 

#container {
    white-space:nowrap;
    text-align:center;
}


.percentage {
    background: repeating-linear-gradient(
      to right,
      #ddd,
      #ddd 1px,
      #fff 1px,
      #fff 5%
    );
  }