body {
    background-color: lightblue;
    color: black;
    min-height: 100%;
    position: relative;
 }
  
 html, body {
    margin: 0;
    padding: 0;
    height: auto;
 }
  
 #searchresultsarea {
    margin-left: 150px;
    font-family: 'Arial';
 }
  
 .searchresult {
    margin-left: 8px;
 }
  
 .searchresult h2 {
    font-size: 19px;
    line-height: 18px;
    font-weight: normal;
    color: rgb(29, 1, 189);
    margin-bottom: 0px;
    margin-top: 25px;
 }
  
 .searchresult a {
    font-size: 14px;
    line-height: 14px;
    color: green;
    margin-bottom: 0px;
 }
  
 .searchresult p {
    width: 625px;
    font-size: 13px;
    margin-top: 0px;
    color: rgb(82, 82, 82);
 } 