<!DOCTYPE html>
<html>
   <head>
       <link rel="stylesheet" href="../css/searchPage.css">
       <title>Search Page</title>
   </head>
 
   <body>
       Hope you find what you are looking for!
       Here are your search results!
       <div id="searchresultsarea">
           <div class="searchresult">
               <h2>Bitcoin price will rally high in 10 days!</h2>
               <!-- <a>https://en.wikipedia.org/wiki/Lock_(computer_science)</a>  -->
               <p> According to investors working with private hedge funds, there will be a huge buy</p>
               <!-- <p> environment were there are many threads of execution.</p> -->
           </div>
           <div class="searchresult">
               <h2>Investors are sceptical of Dogecoin!</h2>
               <a>https://en.wikipedia.org/wiki/Doge_(meme)</a>
               <p>Doge is an Internet meme that became popular in 2013. The meme typically consists of a picture of Kabosu, a Shiba </p>
               <p>Inu dog accompanied by multicolored text in Comic Sans font in the foreground.</p>
           </div>
           <div class="searchresult">
               <h2>What is Mutex? - For Algorithmic Crypto Trading</h2>
               <a>https://www.techopedia.com/definition/25629/mutual-exclusion-mutex</a>
               <p>A mutual exclusion (mutex) is a program object that prevents simultaneous access to a shared resource. This concept is used in concurrent programming with a critical section, a piece of code in which processes or threads access a shared resource. ... This is furnished with algorithms ...</p>
           </div>
       </div>
       <div class="relatedsearches">
            <h3>Searches related to Cryto Rally</h3>
            <div class="relatedlists">
                <ul class="relatedleft">
                    <li><b>Bitcoin</b> history</li>
                    <li>what is <b>Dogecoin</b> and Reddit</li>
                </ul>
                <ul class="relatedright">
                    <li><b>Blockchain</b> technology</li>
                    
                </ul>
            </div>
        </div>
   </body>
   </html>
</html>